<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

    <div th:replace="fragments :: navbar"></div>

    <div class="container">
        <form th:action="@{/create}" method="post">
            <input type="text" name="title" placeholder="Post title" class="form-control"><br>
            <textarea name="text" placeholder="Post content" class="form-control"></textarea><br>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>

    <th:block th:replace="fragments :: bootstrap_scripts"></th:block>

</body>
</html>
